article.discography
    section.discography__album.discography__description
        header.discography__description_header
            h2.discography__description_title Discography
        p.discography__description_paragraph
            |September 4 world heard Night Visions, the first full album.
            | He reached the 2 position in the chart Billboard 200.
            | The single «It's Time» took 22 th place in the Billboard Hot 100,
            | 4th in the Billboard Alternative and Billboard Rock,
            | and now went platinum.
    section.discography__album.discography__1st-album
        header.discography__1st-album_header
            p.discography__album_year 2010
            h2.discography__album_name Hell and silence
        .discography__1st-album_info
            h2.info_title
                |Hell and Silence is an EP by Las Vegas rock group
            p.info_paragraph
                |Hell and Silence is an EP by Las Vegas rock group ,
                | released in March 2010 in the United States.
                | It was recorded at Battle Born Studios.
                | All songs were written by Imagine Dragons and self-produced.
                | The EP was in part mixed by Grammy nominated engineer Mark Needham.
            p.info_paragraph
                |To promote the album the band performed five shows at
                | SXSW 2010 including at the BMI Official Showcase.
                |While at SXSW they were endorsed by Blue Microphones.
                | They also toured the western United States with Nico
                | Vega and Saint Motel. They also performed at Bite of
                | Las Vegas Festival 2010, New Noise Music Festival,
                | Neon Reverb Festival, and Fork Fest.
            button(class="discography__1st-album_btn discography__btn") Play
    section.discography__album.discography__2nd-album
        header.discography__2nd-album_header
            p.discography__album_year 2012
            h2.discography__album_name Night visions
        .discography__2nd-album_info
            h2.info_title
                |Night Visions is the debut studio album by American rock band
            p.info_paragraph
                |It was released on September 4, 2012 through Interscope
                | Records. The extended track was released on February 12,
                | 2013, adding three more songs. Recorded between 2010
                | and 2012, the album was primarily produced by the band
                | themselves, as well as English hip-hop producer Alex da
                | Kid and Brandon Darner from the American indie rock
                | group The Envy Corps. It was mastered by Joe LaPorta.
                | According to frontman Dan Reynolds, the album took
                | three years to finish ...
            button(class="discography__2nd-album_btn discography__btn") Play
    section.discography__album.discography__3rd-album
        header.discography__3rd-album_header
            p.discography__album_year 2015
            h2.discography__album_name Smoke + mirrors
        .discography__3rd-album_info
            h2.info_title
                |The album was recorded during 2014 at the band's home studio in Las Vegas, Nevada
            p.info_paragraph
                |Self-produced by members of the band along with English
                | hip-hop producer Alexander Grant, known by his moniker
                | Alex da Kid, the album was released by Interscope
                | Records and Grant's KIDinaKORNER label on February 17,
                | 2015, in the United States.
            button(class="discography__3rd-album_btn discography__btn") Play