header.header
    nav.navigation
        button.navigation__button.btn
        ul.navigation__list.list
            li.navigation__item.item
                a(href="/" class="navigation__link link") About
            li.navigation__item.item
                a(href="/" class="navigation__link link") Discography
            li.navigation__item.item
                a(href="/" class="navigation__link link") Concert tours
            li.navigation__item.item
                a(href="/" class="navigation__link link") Latter compositions
            li.navigation__item.item
                a(href="/" class="navigation__link link") New tracks
            li.navigation__item.item
                a(href="/" class="navigation__link link") Upcoming events
            li.navigation__item.item
                a(href="/" class="navigation__link link") History
            li.navigation__item.item
                a(href="/" class="navigation__link link") Contact
        button.navigation__bitton-close X
    h1.header__title.visually-hidden