@mixin bg_img($bg_size) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $bg_size;
}

@mixin flexible($direct, $justy, $align) {
    display: flex;
    flex-direction: $direct;
    justify-content: $justy;
    align-content: $align;
}
